@using SamaCardAll.Shared.Contracts.ViewModels
@inject HttpClient HttpClient 

<select @bind="pSelectedCustomerId"> 
  <option value="">-- Select Customer --</option>
  @if (_customers != null)
  {
    @foreach (var customer in _customers)
    {
      <option value="@customer.IdCustomer">@customer.CustomerName</option>
    }
  }
</select>

@code {
    [Parameter]
    public int? pSelectedCustomerId { get; set; }

    private List<CustomerViewModel> _customers = new List<CustomerViewModel>();

    protected override async Task OnInitializedAsync()
    {
        _customers = await HttpClient.GetFromJsonAsync<List<CustomerViewModel>>("/api/Customer");
    }
}