@using FrontWeb.DTO
@using FrontWeb.Components
@using Radzen.Blazor
@using Radzen.Blazor.Rendering

<RadzenTemplateForm TItem="CardDTO" Data=@card Submit=HandleValidSubmit>
    <RadzenCard class="my-2 mx-auto" Style="max-width: 400px;">
        <div class="row">
            <div class="col">
                <RadzenText TextStyle="TextStyle.Subtitle2">Bank</RadzenText>
                <RadzenTextBox @bind-Value="card.Bank" Style="width: 300px" />
            </div>
            <div class="col">
                <br />
                <RadzenText TextStyle="TextStyle.Subtitle2">Number</RadzenText>
                <RadzenTextBox @bind-Value="card.Number" Style="width: 300px" />
            </div>
        </div>
        <div class="col">
            <br />
            <RadzenText TextStyle="TextStyle.Subtitle2">Expiration</RadzenText>
            <RadzenMask @bind-Value="card.Expiration" Mask="**/**" CharacterPattern="[0-9]" Placeholder="01/28" Style="width: 80px" />
        </div>
        <div class="col">
            <br />
            <RadzenText TextStyle="TextStyle.Subtitle2">Brand</RadzenText>
            <RadzenDropDown TValue="string" @bind-Value="card.Brand" Data="brands" Style="width: 200px;" />
        </div>
        <br />
        <div class="col">
            <RadzenText TextStyle="TextStyle.Subtitle2">Active</RadzenText>
            <RadzenCheckBox @bind-Value="IsCardActive" />
        </div>
    </RadzenCard>
</RadzenTemplateForm>

<div class="col-md-12 d-flex align-items-end justify-content-left mt-4">
    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" Click="@(() => HandleValidSubmit())" />
</div>

@code {
    // Using in Brand DropDown
    private List<string> brands = new List<string>
    {
        "Mastercard",
        "Visa"
    };

    private bool IsCardActive
    {
        get => card.Active == 1;
        set => card.Active = value ? (short)1 : (short)0;
    }
}

@code {
    [Parameter]
    public CardDTO card { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public ModalDialog modalDialog { get; set; }

    public enum CardBrand
    {
        Visa,
        MasterCard,
        AmericanExpress,
        Discover
    }

    // private String TitleModal = "New Card";

    private void HandleValidSubmit()
    {
        // Pass the event upwards to the parent component
        OnValidSubmit.InvokeAsync();
    }

    private void ToggleActive(bool isChecked)
    {
        card.Active = isChecked ? (short)1 : (short)0;
    }

    protected override void OnParametersSet()
    {
        if (card == null)
        {
            throw new InvalidOperationException("EditForm requires a Model parameter");
        }
    }
}