@using SamaCardAll.Shared.Contracts.ViewModels
@using Radzen.Blazor
@using Radzen.Blazor.Rendering

@inject IJSRuntime JSRuntime;

<div class="modal" tabindex="-1" role="dialog" style="display:@(isVisible ? "block" : "none"); overflow-y: auto; width: 600px; margin: 0 auto; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="modal-dialog" role="document" style="display:flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Installment Plan</h5>
                <RadzenButton Shade="Shade.Darker" Click=@(args => Hide()) Icon="close" ButtonStyle="ButtonStyle.Secondary" />
            </div>
            <div class="modal-body">
                <RadzenDataGrid TItem="Installment" Data="@installmentPlanList" PagerPosition="PagerPosition.Bottom" AllowPaging="true" PageSize="8" PagerHorizontalAlign="HorizontalAlign.Center" AllowSorting="true">
                    <Columns>
                        <RadzenDataGridColumn TItem="Installment" Property="DisplayDueDate" Title="Month">
                            <HeaderTemplate>
                                <strong style="font-size:medium">Month</strong>
                            </HeaderTemplate>
                            <Template Context="installmentPlanList">
                                @installmentPlanList.DisplayDueDate
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Installment" Property="InstallmentDisplay" Title="Installment">
                            <HeaderTemplate>
                                <strong style="font-size:medium">Installment</strong>
                            </HeaderTemplate>
                            <Template Context="installmentPlanList">
                                @installmentPlanList.InstallmentDisplay
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Installment" Property="DisplayAmount" Title="Amount">
                            <HeaderTemplate>
                                <strong style="font-size:medium">Amount</strong>
                            </HeaderTemplate>
                            <Template Context="installmentPlanList">
                                @installmentPlanList.Amount.ToString("C2")
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </div>
</div>

@code {

    private bool isVisible { get; set; }

    private void Show()
    {
        isVisible = true;
        StateHasChanged();
    }

    private void Hide()
    {
        isVisible = false;
        StateHasChanged();
    }

    /* Installment Plan */
    private List<Installment> installmentPlanList = new List<Installment>();

    // Method to show the Installment List
    public void ShowInstallmentPlan(SpendViewModel spend)
    {
        installmentPlanList = new List<Installment>();

        installmentPlanList = GenerateInstallmentPlan(spend.InstallmentPlan, spend.InstallmentValue, spend.Date);

        // Exibir o modal
        Show();
    }

    public class Installment
    {
        public decimal Amount { get; set; }
        public DateTime DueDate { get; set; }
        public string DisplayDueDate => DueDate.ToString("MM/yyyy") ?? "";
        public string DisplayAmount => Amount.ToString("C");
        public string InstallmentDisplay { get; set; }
    }

    private List<Installment> GenerateInstallmentPlan(int installmentPlan, decimal installmentValue, DateTime purchaseDate)
    {
        string installmentDisplay = string.Empty;

        // Calcular o intervalo de meses entre cada parcela
        int monthsInterval = 1;

        decimal amount = 0;
        DateTime dueDate;

        // Adicionar parcelas ao plano de parcelamento
        for (int i = 1; i <= installmentPlan; i++)
        {
            // Calcular o valor da parcela
            amount = installmentValue;

            // Calcular a data da parcela
            dueDate = purchaseDate.AddMonths(i * monthsInterval);

            //installmentDisplay = i.ToString() + "/" + installmentPlan.ToString();

            // Format to show 00/00
            installmentDisplay = string.Format("{0:00}/{1:00}", i, installmentPlan);

            // Criar uma instância de Installment e adicioná-la à lista
            Installment installment = new Installment
                {
                    Amount = amount,
                    DueDate = dueDate,
                    InstallmentDisplay = installmentDisplay
                };
            installmentPlanList.Add(installment);

            Console.WriteLine($"Installment Plan: {installmentDisplay}");
        }

        return installmentPlanList;
    }
}
