@using SamaCardAll.Infra.Models
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="card" OnValidSubmit="HandleValidSubmit">
    <div class="form-group">
        <label for="Bank">Bank:</label>
        <InputText id="Bank" class="form-control" @bind-Value="card.Bank" />
    </div>
    <div class="form-group">
        <label for="Number">Number:</label>
        <InputText id="Number" class="form-control" @bind-Value="card.Number" style="width: 300px" />
    </div>

    <div class="form-group">
        <label for="Expiration">Expiration:</label>
        <InputText id="Expiration" class="form-control" @bind-Value="card.Expiration" placeholder="01/30" style="width: 100px" />
    </div>

    <div class="form-group">
        <label for="Brand">Brand:</label>
        <InputSelect id="Brand" class="form-select" @bind-Value="card.Brand" style="width: 200px;">
            <option value="Visa">Visa</option>
            <option value="Mastercard">Mastercard</option>
        </InputSelect>
    </div>
    <div class="form-group">
        <label for="cardActive" class="col-form-label">Active:</label>
        <input type="checkbox" id="cardActive" class="form-check-inline" checked="@(card.Active == 1)" @onchange="ToggleActive" />
    </div>

    <hr />
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>

@code {
    [Parameter]
    public Card card { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    private void HandleValidSubmit()
    {
        // Pass the event upwards to the parent component
        OnValidSubmit.InvokeAsync();
    }

    private void ToggleActive(ChangeEventArgs args)
    {
        bool isChecked = (bool)args.Value;
        if (isChecked)
        {
            card.Active = 1; // Set to 1 when checked
        }
        else
        {
            card.Active = 0; // Set to 0 when unchecked
        }
    }

    protected override void OnParametersSet()
    {
        if (card == null)
        {
            throw new InvalidOperationException("EditForm requires a Model parameter");
        }
    }
}