option_settings:
  aws:elasticbeanstalk:application:environment:
    # Defina uma variável de ambiente que sua API .NET usará
    EFSCreator: '{"efs_id":"fs-0edf6e5ef2dd95223", "mount_dir":"/data"}'

files:
  "/etc/cfn/hooks.d/mount-efs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Script de montagem simples para o EFS
      EFS_ID=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.EFSCreator.efs_id')
      EFS_MOUNT_DIR=$(/opt/elasticbeanstalk/bin/get-config environment | jq -r '.EFSCreator.mount_dir')

      # Garante que o diretório de montagem exista
      mkdir -p $EFS_MOUNT_DIR

      # Tenta montar o EFS. O AWS Linux usa o NFSv4
      mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport $EFS_ID:/ $EFS_MOUNT_DIR
      
      # Verifica se a montagem foi bem sucedida
      if [ $? -eq 0 ]; then
          echo "EFS mounted successfully to $EFS_MOUNT_DIR"
      else
          echo "EFS mount FAILED"
          exit 1
      fi